.containerWelcome {
  display: flex;

  > div {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 4fr;
    margin: 0 auto;
    gap: 5rem;
    margin-top: 5rem;
    z-index: 1;

    @media (max-width: 818px) {
      padding: 5rem;
      grid-template-columns: 1fr;
      gap: 0;
      justify-content: center;
      align-items: center;
    }
  }

  .right {
    z-index: 9;
    > h1 {
      color: var(--primary);
      font-size: 4rem;
      width: 50%;
      line-height: 67px;
      letter-spacing: 0.1em;
      @media (max-width: 818px) {
        width: 100%;
        text-align: center;
      }
    }
    > p {
      margin-top: 2.5rem;
      width: 476px;
      opacity: 0.8;
      font-weight: 100;
      font-size: 1.2rem;
    }
  }

  .containerAvatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 818px) {
      justify-content: center;
    }
  }
}
