*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #FF0074;
  --text: #FFF;
  --background: #090909;
}

@font-face {
  font-family: "Hanson";
  src: url("/font/Hanson.ttf");
}

@media (max-width: 1080px){
  html{
      font-size: 93.75%; 
  }
}

@media (max-width: 720px){
  html{
      font-size: 87.5%;
  }
}

body {
  background: var(--background);
}

body, input, textarea, button{
  font: 500 1rem Inter, sans-serif;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6{
  font-weight: 800;
  font-family: "Hanson", sans-serif;
  color: var(--text);
}

h1{
  font-size:2rem;
}

h2{
  font-size:1.5rem;
}

.active {
  color: var(--primary) !important;
}

.inactive {
  &:before{
    content: '//';
  }
}

button{
  cursor: pointer;
}